.parent{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.App{
  width: 200px;
  height: 340px;
  border: 1px solid rgb(175, 172, 172);
  margin-inline: 10px;
  margin-top:50px;
  text-align: center;
  border-radius: 10px;
  padding-left: 10px;
}
.App:hover{
  background-color: rgb(14, 171, 224);
  color: white;
  border: 5px dotted;
}
.App p{
  margin-top: 10px;
  font-size: 20px;
  color: gray;
}
.App img{
  width: 180px;
  height: 150px;
}
.App h2, h3{
  margin: 3px 0px;
}

.App button{
  margin-top: 10px;
  color: white;
  width: 210px;
  height: 40px;
  border-radius: 0px 0px 10px 10px;
  font-weight: bold;
  font-size: 15px;
  background-color: blue;
  border: none;
  margin-left: -10px;
}
.App button:hover{
 background-color: rgb(236, 244, 7);
 color: rgb(91, 87, 87);
 
}
